
.vs/Jiran/config/applicationhost.config
.vs/Jiran/DesignTimeBuild/.dtbcache.v2
.vs/Jiran/FileContentIndex/0c594814-6f03-4fea-b228-e05c007174f0.vsidx
.vs/Jiran/FileContentIndex/1886c462-a803-49e8-9867-093a6b204126.vsidx
.vs/Jiran/v17/.futdcache.v2
.vs/Jiran/v17/.suo
.vs/Jiran/v17/DocumentLayout.backup.json
.vs/Jiran/v17/DocumentLayout.json
.vs/ProjectEvaluation/jiran.metadata.v9.bin
.vs/ProjectEvaluation/jiran.projects.v9.bin
.vs/ProjectEvaluation/jiran.strings.v9.bin
bin/Debug/net6.0/Jiran.deps.json
bin/Debug/net6.0/Jiran.dll
bin/Debug/net6.0/Jiran.exe
bin/Debug/net6.0/Jiran.pdb
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Jiran.AssemblyInfo.cs
obj/Debug/net6.0/Jiran.AssemblyInfoInputs.cache
obj/Debug/net6.0/Jiran.assets.cache
obj/Debug/net6.0/Jiran.csproj.AssemblyReference.cache
obj/Debug/net6.0/Jiran.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Jiran.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Jiran.dll
obj/Debug/net6.0/Jiran.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Jiran.genruntimeconfig.cache
obj/Debug/net6.0/Jiran.MvcApplicationPartsAssemblyInfo.cs
obj/Debug/net6.0/Jiran.pdb
obj/Debug/net6.0/Jiran.sourcelink.json
obj/Debug/net6.0/ref/Jiran.dll
obj/Debug/net6.0/refint/Jiran.dll
obj/Jiran.csproj.nuget.dgspec.json
obj/Jiran.csproj.nuget.g.props
obj/Jiran.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
Properties/launchSettings.json
